<% provide(:title, 'User Sign Up') %>
<div class="content">
	<h2>Sign Up</h2>
  <div class="form">
    <%= form_for(@user, builder: FormBuilder) do |f| %>
    	<%= f.text_field :name %>

  		<%= f.email_field :email %>

  		<%= f.text_field :hospital_id %>

  		<%= f.password_field :password %>

  		<%= f.password_field :password_confirmation, label: "confirm password" %>

  		<%= f.submit "Create my account" %>
    <% end %>
  </div>
</div>