<header class="page-header">
    <%= link_to(root_path) do %>
      <h1 id="logo">Hospital Hangout</h1>
    <% end %>
    <nav>
      <ul class="nav">
          <li class="<%= 'active' if current_page?(root_path) %> nav-item">
            <%= link_to "Home",   root_path %></li>
          <li class="<%= 'active' if current_page?(help_path) %> nav-item">
            <%= link_to "Help",   help_path %></li>
          <% if !logged_in? && !h_logged_in? %>
            <%= render 'layouts/default_header' %>
          <% elsif logged_in? %>
            <%= render 'layouts/user_header' %>
          <% else %>
            <%= render 'layouts/hospital_header' %>
          <% end %>
      </ul>
    </nav>
</header>